* {
    margin: 0;
    padding: 0;
    color: #F9E0A2;
}

.clear {
    clear: both;
}

/* HTML Components */

@font-face {
    font-family: lcars;
    src: url('./font/lcars.ttf');
}

body {
    background-color: #000;
    color: #ddd;
    font: 18px/22px lcars,tahoma,sans-serif;
    border-left: double 10px;
    border-right: double 10px;
    animation: borderStripe 5s linear infinite;
}

.navbar {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#000), to(#000));
    background-image: -webkit-linear-gradient(top, #000 0%, #000, 100%);
    background-image: -moz-linear-gradient(top, #0000%, #000 100%);
    background-image: linear-gradient(to bottom, #000 0%, #000 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#000', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.panel-default > .panel-heading {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#000), to(#000));
    background-image: -webkit-linear-gradient(top, #000, 0%, #000, 100%);
    background-image: -moz-linear-gradient(top, #000 0%, #000 100%);
    background-image: linear-gradient(to bottom, #000 0%, #000 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#000', GradientType=0);
}

#top img {
    display: normal;
    width: 100%;
    height: 90px;
}

#online img {
    width: 100%;
    height: 23px;
}

@keyframes borderStripe {
    0% {
        border-color: #ea0;
    }

    50% {
        border-color: #000;
    }

    100% {
        border-color: #ea0;
    }
}

@-webkit-keyframes borderStripe {
    0% {
        border-color: #ea0;
    }

    50% {
        border-color: #000;
    }

    100% {
        border-color: #ea0;
    }
}

h1, h2, h3, h4, h5, h6 {
    background: #fb1;
    color: #000;
    margin: 10px 0 5px 0;
    padding: 10px;
    border-radius: 20px;
    font-family: lcars,sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
}

h1 {
    background: #fb1;
    font-size: 40px;
    line-height: 38px;
    border-radius: 38px;
    padding-left: 24px;
}

h2 {
    background: #FFC127;
    font-size: 32px;
    line-height: 30px;
    border-radius: 30px;
    padding-left: 24px;
}

h3 {
    background: #FFC73C;
    font-size: 28px;
    line-height: 26px;
    border-radius: 26px;
    padding-left: 24px;
}

h4 {
    background: #FFCE52;
    font-size: 24px;
    line-height: 22px;
    border-radius: 22px;
    padding-left: 24px;
}

h5 {
    background: #FFD468;
    font-size: 22px;
    line-height: 18px;
    border-radius: 18px;
    padding-left: 24px;
}

h6 {
    background: #FFDA7D;
    font-size: 20px;
    line-height: 16px;
    border-radius: 18px;
    padding-left: 24px;
}

ol, ul {
    margin-left: 18px;
    color: #c69;
}

ol li, ul li {
    color: #f96;
}

dl {
    margin: 10px 25px 10px 40px;
}

dt {
    margin: 5px 50px 0 0;
    padding: 0 0 5px 0;
    border-bottom: solid 1px #fb1;
    font-family: lcars, sans-serif;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    color: #fb1;
}

dd {
    margin: 0 50px 0 0;
    padding: 0 0 0 0;
    color: #ffc73c;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.9em;
}

p {
    margin-top: 10px;
}

blockquote {
    border: double 3px #ffa217;
    margin: 10px auto;
    width: 85%;
    padding: 10px 15px 15px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: url('/LcarsImages/trail1.png'), default;
}

a:link {
    color: #99c;
    border-radius: 9px;
    padding: 0 3px 3px 3px;
    margin: 0 -3px;
}

a:visited {
    color: #000;
}

a:hover {
    color: #000;
    background: #fb1;
}

pre, code {
    margin: 10px 25px;
    padding: 10px;
    border-radius: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    color: #ACA595;
    background: #111;
    border: dotted 1px #ea0;
}


/* Theme Components */
.panel {
    margin-left:25%;
    margin-right:25%;
    background-color: #000;
    border-color: #000;
    min-height: 1000px;
    padding:20px;
    font-size:xx-large;
}

.panel-defult {
    background-color: #000;
    border-color: #000;
}

.panel-body {
    width: 80%;
    margin: auto;
    background: #000;
    border-color: #000;
}

.panel-heading {
    text-align: center;
    width: 80%;
    background: #000;
    margin: auto;
}



.panel-header {
    padding: 20px;
    border-bottom: solid 5px #ea0;
    border-left: solid 20px #ea0;
    border-bottom-left-radius: 20px;
    border-right: solid 5px #ea0;
    border-bottom-right-radius: 20px;
}

#header a {
    color: #000;
}

#header h2 {
    background: #000;
    color: #ffb546;
    border: solid 1px #ffb546;
}

.navbar-right {
    float: right !important;
    margin-right: 10px;
}

.navbar {
    background: #000;
    margin: 6px 0 3px 0;
    border-top: solid 2px #FFB546;
    border-bottom: solid 2px #FFB546;
    border-left: solid 20px #FFB546;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-right: solid 20px #FFB546;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2px 0;
    height: 100%;
    width: 16%;
    display: inline-block;
    position:fixed;
}



.panel panel-default {
    margin: 3px 3px 3px 3px;
    float: left;
    width: 80%;
    padding: 10px 5px 10px 10px;
    border-top: solid 5px #FFA217;
    border-right: solid 5px #FFA217;
    border-bottom: solid 5px #FFA217;
    border-left: solid 20px #FFA217;
    border-radius: 20px;
}

#content p {
    margin: 10px 25px 0 25px;
}

#content ul {
    margin: 10px 25px 0 40px;
}

#content ol {
    margin: 10px 25px 0 45px;
}

#sidebar {
    width: auto;
    float: left;
    margin: 3px 0 0 5px;
    padding: 5px;
    border-top: solid 5px #4B0082;
    border-right: solid 5px #4B0082;
    border-bottom: solid 5px #4B0082;
    border-left: solid 5px #4B0082;
    border-radius: 20px;
    cursor: url('/LcarsImages/peo842.png'), default;
}

#sidebar h3 {
    background: #4B0082;
    color: #000;
    margin: 10px 0 5px 0;
    padding: 10px;
    border-radius: 20px;
    font-family: lcars,sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

#sidebar2 {
    width: 20%;
    float: left;
    margin: 5px;
    padding: 5px;
    border: solid 5px #FFA217;
    border-radius: 20px;
    cursor: url('/LcarsImages/peo842.png'), default;
    height:100%;
    position:fixed;
}

#sidebar1 {
    width: 20%;
    float: right;
    margin: 5px;
    padding: 5px;
    border: solid 5px #FFA217;
    border-radius: 20px;
    cursor: url('/LcarsImages/peo842.png'), default;
    height:100%;
}



.panel-footer {
    margin-top: 3px;
    padding: 10px;
    border-top: solid 5px #ea0;
    border-left: solid 20px #ea0;
    border-top-left-radius: 20px;
    border-right: solid 5px #ea0;
    border-top-right-radius: 20px;
    background: #000;
    margin-left:25%;
    margin-right:25%;
}

#sitemap {
    font: 12px/16px tahoma,sans-serif;
}

#credits {
    font-size: 0.7em;
    margin-top: -8px;
}

.left {
    float: left;
    margin-left: 10px;

}

.right {
    float: right;
    margin-right: 10px;
}


/* Sidebar Headings */

#sidebar h1, #sidebar2 h1 {
    font-size: 2.0em;
    padding: 10px 20px;
    line-height: 1;
}

#sidebar h2, #sidebar2 h2 {
    font-size: 1.8em;
    padding: 8px 20px;
    line-height: 1;
}

#sidebar h3, #sidebar2 h3 {
    font-size: 1.6em;
    padding: 8px 20px;
    line-height: 1;
}

#sidebar h4, #sidebar2 h4 {
    font-size: 1.4em;
    padding: 8px 20px;
    line-height: 1;
}

#sidebar h5, #sidebar2 h5 {
    font-size: 1.3em;
    padding: 8px 20px;
    line-height: 1;
}

#sidebar h6, #sidebar2 h6 {
    font-size: 1.2em;
    padding: 8px 20px;
    line-height: 1;
}

#sidebar2 img, #sidebar1 img {

    width: 100%;
}
/* Navigation elements */

.nav ul {
    margin-left: 0px;
    background: #000;
    list-style: none;
    position: absolute;
    left: -9999px;
}

.nav a, #nav li a {
    display: inline-block;
}

.nav li a:link,
.nav li a:visited {
    color: #000;
    background: #FFB546;
    text-decoration: none;
    border-radius: 15px;
    padding: 2px 10px;
    border: solid 1px #000;
    font-family: lcars,sans-serif;
    letter-spacing: 0.5px;
    font-size: 1.6em;
    margin: 0px;
}

#nav li {
    display: block;
    float: left;
    padding: 3px 2px;
    line-height: 24px;
    background: #000;
    color: #000;
}

#nav li:first-child {
    margin-left: 3px;
}

#nav li a:hover {
    color: #FFB546;
    background: #000;
    border-color: #FFB546;
}

#nav li.current a {
    color: #FFB546;
    background: #000;
    border-color: #FFB546;
}

#nav li.current a:hover {
    color: #FFB546;
}

.nav ul {
    background: #fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background: rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
.nav li:hover ul { /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
    z-index: 10;
}

.nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background: #6b0c36;
    text-decoration: underline;
}
.nav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration: none;
}

.nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background: #333;
}

/* Image Styles */

#content img {
    display: block;
    padding: 15px;
    background: #111;
    border: dotted 1px #222;
}

.center {
    margin-left: auto;
    margin-right: auto;
}


/* Form Elements */

form {
    margin: 0;
    padding: 0 5px 0 0;
}

fieldset {
    padding: 10px;
    border: solid 1px #ea0;
    border-radius: 15px;
    margin-top: 10px;
}

legend {
    background: #ea0;
    color: #000;
    border-radius: 15px;
    padding: 5px 15px;
    margin-left: 30px;
    font-family: lcars,sans-serif;
    font-size: 1.6em;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

input,
.form-control {
    background: #000;
    color: #ea0;
    border-radius: 5px;
    border: dotted 1px #333;
    padding: 5px;
}

text {
    margin-top: 5px;
}

option,
label {
    padding-left: 5px;
}

select {
    background: #222;
    color: #000;
    border-radius: 5px;
    border: dotted 1px #333;
    margin-top: 3px;
}

select option {
    padding: 5px;
}

input,
textarea,
select,
option {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1em;
}

.btn {
    display: inline-block;
    padding: 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: url('/LcarsImages/trail1.png'), default;
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn-primary {
    margin: 5px;
    background: #4A508A;
    color: #000;
    border: solid 3px #4A508A;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: lcars,sans-serif;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1.5px;
    padding: 0px 15px;
}

.btn-default {
    margin-top: 5px;
    background: #ea0;
    color: #000;
    border: solid 3px #ea0;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: lcars,sans-serif;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1.5px;
    padding: 0px 15px;
}

.button:hover {
    background: #000;
    color: #ea0;
}

form p {
    margin: 10px 0 0 0 !important;
}

.printonly {
    display: none;
}

.table {
    margin: 3px;
}

.table table-striped table-condensed table-bordered {
    display: table;
    border-radius: 10px;
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: scroll;
    padding: 3px;
    border-bottom-color: #000;
    font-size: 1.5rem;
}

table td th {
    display: table-column;
    text-align: center;
    vertical-align: middle;
    line-height: 13em;
}

th {
    width: auto;
    background-color: #FF8C00;
    border-radius: 10px;
    color: #000;
    padding: 8px;
}

td {
    width: auto;
    background: #F1DFBF;
    border-radius: 10px;
    color: #000;
    padding: 8px;
}

audio {
    display: none;
}

.table {
    width: 100%;
    height: auto;
    overflow: scroll;
}

#cursor {
    cursor: url('/LcarsImages/peo842.png'), default;
}

#base img {
    width: 100%;
}

.alert-success {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#000), to(#000));
    background-image: -webkit-linear-gradient(top, #000, 0%, #000, 100%);
    background-image: -moz-linear-gradient(top, #000 0%, #000 100%);
    background-image: linear-gradient(to bottom, #000 0%, #000 100%);
    background-repeat: repeat-x;
    border-color: #b2dba1;
    border-width: 2px;
    color: #b2dba1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#000', GradientType=0);
}

.alert-danger {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#000), to(#000));
    background-image: -webkit-linear-gradient(top, #000, 0%, #000, 100%);
    background-image: -moz-linear-gradient(top, #000 0%, #000 100%);
    background-image: linear-gradient(to bottom, #000 0%, #000 100%);
    background-repeat: repeat-x;
    border-color: red;
    color: red;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#000', GradientType=0);
}

.form-control {
    width: 500px;
}






























/*Mobile device styling*/


@media only screen and (min-width: 1001px) {

    #tmhidden {
        display: none;
    }
}


@media only screen and (max-width: 1000px) {

    .tabbox {
        overflow: scroll;
    }

    #sidebar2, #sidebar1 {
        display: none;
        cursor: url('/LcarsImages/peo842.png'), default;
    }

    .panel-header {
        height: auto;
    }

    .navbar {
        width: auto;
    }

    #overflow {
        overflow: scroll;
    }
}

@media only screen and (max-width: 420px) {
    body {
        font-size: 50%;
    }

    h1, h2, h2, h4, h5, h6 {
        font-size: 0.5em;
        padding: 15px;
    }

    #top {
        visibility: hidden;
        height: 45px;
    }

    h1, h2, h2, h4, h5, h6 {
        padding: 15px;
    }

    .panel-header {
        height: auto;
    }

    #tmhidden {
        display: normal;
    }

    .navbar {
        width: auto;
    }

    #nav {
        float: none !important;
    }

    .form-control {
        width: auto;
    }

    #overflow {
        overflow: scroll;
    }
}

@media only screen and (max-width: 320px) {
    body {
        font-size: 40%;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1em;
        padding: 5px;
    }

    #top img {
        height: 45px;
    }

    .navbar {
        width: auto;
    }

    .form-control {
        width: auto;
    }
}
















.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
    float: left;
}

.col-xs-1 {
    width: 8.333333333333332%;
}

.col-xs-2 {
    width: 16.666666666666664%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-4 {
    width: 33.33333333333333%;
}

.col-xs-5 {
    width: 41.66666666666667%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.333333333333336%;
}

.col-xs-8 {
    width: 66.66666666666666%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-10 {
    width: 83.33333333333334%;
}

.col-xs-11 {
    width: 91.66666666666666%;
}

.col-xs-12 {
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11 {
        float: left;
    }

    .col-sm-1 {
        width: 8.333333333333332%;
    }

    .col-sm-2 {
        width: 16.666666666666664%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33333333333333%;
    }

    .col-sm-5 {
        width: 41.66666666666667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.333333333333336%;
    }

    .col-sm-8 {
        width: 66.66666666666666%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33333333333334%;
    }

    .col-sm-11 {
        width: 91.66666666666666%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-push-1 {
        left: 8.333333333333332%;
    }

    .col-sm-push-2 {
        left: 16.666666666666664%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-4 {
        left: 33.33333333333333%;
    }

    .col-sm-push-5 {
        left: 41.66666666666667%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-7 {
        left: 58.333333333333336%;
    }

    .col-sm-push-8 {
        left: 66.66666666666666%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-10 {
        left: 83.33333333333334%;
    }

    .col-sm-push-11 {
        left: 91.66666666666666%;
    }

    .col-sm-pull-1 {
        right: 8.333333333333332%;
    }

    .col-sm-pull-2 {
        right: 16.666666666666664%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-4 {
        right: 33.33333333333333%;
    }

    .col-sm-pull-5 {
        right: 41.66666666666667%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-7 {
        right: 58.333333333333336%;
    }

    .col-sm-pull-8 {
        right: 66.66666666666666%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-10 {
        right: 83.33333333333334%;
    }

    .col-sm-pull-11 {
        right: 91.66666666666666%;
    }

    .col-sm-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .col-sm-offset-2 {
        margin-left: 16.666666666666664%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666666666666%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11 {
        float: left;
    }

    .col-md-1 {
        width: 8.333333333333332%;
    }

    .col-md-2 {
        width: 16.666666666666664%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33333333333333%;
    }

    .col-md-5 {
        width: 41.66666666666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.333333333333336%;
    }

    .col-md-8 {
        width: 66.66666666666666%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33333333333334%;
    }

    .col-md-11 {
        width: 91.66666666666666%;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-push-1 {
        left: 8.333333333333332%;
    }

    .col-md-push-2 {
        left: 16.666666666666664%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-4 {
        left: 33.33333333333333%;
    }

    .col-md-push-5 {
        left: 41.66666666666667%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-7 {
        left: 58.333333333333336%;
    }

    .col-md-push-8 {
        left: 66.66666666666666%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-10 {
        left: 83.33333333333334%;
    }

    .col-md-push-11 {
        left: 91.66666666666666%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-pull-1 {
        right: 8.333333333333332%;
    }

    .col-md-pull-2 {
        right: 16.666666666666664%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-4 {
        right: 33.33333333333333%;
    }

    .col-md-pull-5 {
        right: 41.66666666666667%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-7 {
        right: 58.333333333333336%;
    }

    .col-md-pull-8 {
        right: 66.66666666666666%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-10 {
        right: 83.33333333333334%;
    }

    .col-md-pull-11 {
        right: 91.66666666666666%;
    }

    .col-md-offset-0 {
        margin-left: 0;
    }

    .col-md-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .col-md-offset-2 {
        margin-left: 16.666666666666664%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666666666666%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11 {
        float: left;
    }

    .col-lg-1 {
        width: 8.333333333333332%;
    }

    .col-lg-2 {
        width: 16.666666666666664%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33333333333333%;
    }

    .col-lg-5 {
        width: 41.66666666666667%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.333333333333336%;
    }

    .col-lg-8 {
        width: 66.66666666666666%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33333333333334%;
    }

    .col-lg-11 {
        width: 91.66666666666666%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-push-1 {
        left: 8.333333333333332%;
    }

    .col-lg-push-2 {
        left: 16.666666666666664%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-4 {
        left: 33.33333333333333%;
    }

    .col-lg-push-5 {
        left: 41.66666666666667%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-7 {
        left: 58.333333333333336%;
    }

    .col-lg-push-8 {
        left: 66.66666666666666%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-10 {
        left: 83.33333333333334%;
    }

    .col-lg-push-11 {
        left: 91.66666666666666%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-pull-1 {
        right: 8.333333333333332%;
    }

    .col-lg-pull-2 {
        right: 16.666666666666664%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-4 {
        right: 33.33333333333333%;
    }

    .col-lg-pull-5 {
        right: 41.66666666666667%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-7 {
        right: 58.333333333333336%;
    }

    .col-lg-pull-8 {
        right: 66.66666666666666%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-10 {
        right: 83.33333333333334%;
    }

    .col-lg-pull-11 {
        right: 91.66666666666666%;
    }

    .col-lg-offset-0 {
        margin-left: 0;
    }

    .col-lg-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .col-lg-offset-2 {
        margin-left: 16.666666666666664%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666666666666%;
    }
}